<!--{% extends "base.html" %}

{% block content %}-->

<head>
  <title>Camburglar</title>
</head>

<link rel="stylesheet" type="text/css" href="../static/main.css">
    <div id="header">
        <p id="headertext">Camburglar | <a href="">Home</a></p>
	</div>
	<h1>Camburglar</h1>
    <p>Please enter the length and width of the room you wish to scan.</p><br>
    <form action="results", method='post'>
        <input type="text" name="Length" placeholder="Room length..."><br><br>
        <input type="text" name="Width" placeholder="Room width..."><br>
        <br>
        <input type="submit" value="Submit">
   </form>

<!--{% endblock %}-->
